<div class="image-grid-list">
  <mat-grid-list cols="3" rowHeight="1:1" gutterSize="20px">

    <mat-grid-tile>
      <img class="grid-image" src="https://material.angular.io/assets/img/examples/shiba2.jpg" (click)="openDialog()">
    </mat-grid-tile>
    <mat-grid-tile>
      <img class="grid-image" src="https://i.imgur.com/Rpxx6wU.jpg">
    </mat-grid-tile>
    <mat-grid-tile>
      <img class="grid-image" src="https://i.imgur.com/83fandJ.jpg">
    </mat-grid-tile>
    <mat-grid-tile>
      <img class="grid-image" src="https://i.imgur.com/JiQ9Ppv.jpg">
    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
  </mat-grid-list>
</div>

