:host {
  display: flex;
  justify-content: center;
  /*margin: 100px 0px;*/
}
table {
  margin-top: 10px;
  min-width: 50%;
}
.mat-raised-button {
  margin: 3px;
}
.mat-row:hover {
  background-color: #F0F0F0;
}
tr{
  margin: 500px ;
}
