<!--<div >-->
  <!--<div  class="userpage">-->
    <!--<div class="user-header">-->
      <!--<div class="user-image">-->
        <!--<img src="https://material.angular.io/assets/img/examples/shiba2.jpg" class="avatar">-->
      <!--</div>-->
      <!--<div class="user-info">-->
        <!--<p class="nickname">nickname</p>-->
        <!--<p>name</p>-->
        <!--<p>profileDescription</p>-->
        <!--<button  mat-raised-button color="primary" class="sub-btn" routerLink="/edituserinfo">Edit info</button>-->
        <!--<button  mat-raised-button color="primary" class="sub-btn" routerLink="/addpost">Add post</button>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="user-subscriptions">-->
      <!--<p  class="subinfo">Followers 123</p>-->
      <!--<p  class="subinfo">Following 234</p>-->
      <!--<div >-->
        <!--<button mat-raised-button color="primary" class="sub-btn" >Subscribe</button>-->
        <!--<button  mat-raised-button color="primary" class="sub-btn" >Unsubscribe</button>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="posts">-->
    <!--<p >-->
      <!--&lt;!&ndash;<app-post ></app-post>&ndash;&gt;-->
    <!--</p>-->
  <!--</div>-->
  <!--<div >-->
    <!--<p>No such user</p>-->
  <!--</div>-->
<!--</div>-->
<app-account-header></app-account-header>
<mat-divider></mat-divider>
<app-images-grid-list></app-images-grid-list>
