<mat-card>
  <br>
  <mat-card-title>Login</mat-card-title>
  <br>
  <mat-card-content>
    <form [formGroup]="loginForm">
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput maxlength="254" placeholder="pat@example.com" [formControl]="loginForm.controls['email']">
          <mat-error *ngIf="loginForm.controls['email'].touched && !loginForm.controls['email'].valid">
            {{loginForm.controls['email'].value?'Not a valid email':'You must enter a email'}}
          </mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Enter your password</mat-label>
          <input matInput maxlength="30" [type]="hide ? 'password' : 'text'" [formControl]="loginForm.controls['password']">
          <mat-error *ngIf="loginForm.controls['password'].touched && !loginForm.controls['password'].valid">
            {{loginForm.controls['password'].value?'Password must be at least 5 characters':'You must enter a password'}}
          </mat-error>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </p>
      <mat-checkbox color="primary" [(ngModel)]="rememberMe" [ngModelOptions]="{standalone: true}">Remember me</mat-checkbox><br><br>
      <div class="button">
        <button mat-stroked-button [disabled]="!loginForm.valid">Login</button>
      </div>
      <br><p class="link">
        Don't have an account?<a routerLink="/registration"><span>Sign up</span></a>
      </p>
    </form>
  </mat-card-content>
</mat-card>
