<div class="account-header">
  <img style="object-fit: cover; border-radius: 50%; height: 100px; width: 100px;" alt="..." src="https://www.pngjoy.com/pngm/136/2750635_gray-circle-login-user-icon-png-transparent-png.png">
  <h1>User name</h1>
  <h3>Name Surname</h3>
  <p class="description">Description</p>
  <h4>Followers 250 Following 150</h4>
  <button mat-raised-button>Subscribe</button>
  <button mat-raised-button>Unsubscribe</button>
  <button mat-raised-button (click)="openAddPostDialog()">Add Post</button>
  <button mat-raised-button (click)="openEditInfoDialog()">Edit info</button>
</div>
